body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#frame0{
    height: 10vh;
    width: 99vw;
}

#app {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    cursor: pointer;
}

#hotelList {
    list-style-type: none;
    padding: 0;
}

#hotelList li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#hotelDetails {
    margin-top: 10px;
}
button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #2980b9;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 999;
}